doctype html

html
  include blocks/head.pug
  style.main !{css}

  body
    .container
        h1 #{templateName}

        a(href="/") Back 

        .content.js-content !{tpl}

        ul.nav.nav-tabs.js-tabs(role="tablist")
            li.active(role="presentation")
                a(href="#json" role="tab" data-toggle="tab" tab="json")
                    h2 Data
            li(role="presentation")
                a(href="#css" role="tab" data-toggle="tab" tab="css")
                    h2 Css
            li(role="presentation")
                a(href="#pug" role="tab" data-toggle="tab" tab="pug")
                    h2 Pug

        .tab-content
            .tab-pane.active#json(role="tabpanel" tab="json")
                .content
                    textarea.data.json-codemirror(file-name=view) !{data}  
            .tab-pane#css(role="tabpanel" tab="css")
                .content
                    textarea.data.css-codemirror !{css}
            .tab-pane#pug(role="tabpanel" tab="pug")
                .content
                    textarea.data.pug-codemirror !{pugtpl}
        .buttons-row
            span.btn.btn-success.js-save Save
            span.btn.btn-danger.js-drop Drop
